@media screen and (max-width: 950px){

    .about-content-image,
    .content-image{
        width: 30vw;
        height: 30vw;
    }
}




@media screen and (max-width: 850px){
    .contentHolder{
        flex-direction: column;
        
    }
    
    .about-content-image,
    .content-image{
        width: 25vw;
        height: 25vw;
    }

    .home-main-image {
        width: 25vw;
        height: 25vw;
        border-radius: 14vw;
    }
}





@media screen and (max-width: 750px){

    .home-main-image {
        width: 28vw;
        height: 28vw;
        border-radius: 14vw;
    }
}

@media screen and (max-width: 700px){

    .home-main-image {
        width: 29vw;
        height: 29vw;
        border-radius: 15vw;
    }
}

@media screen and (max-width: 650px){

    .home-main-image {
        width: 30vw;
        height: 30vw;
        border-radius: 15vw;
    }
}


@media screen and (max-width: 600px){
    #submitButton{
        width: 7vw;
    }

    .home-main-image{
        display: none;
    }
    
    .contentHeading{
        line-height: 30px;
        
    }

    .about-content-image,
    .content-image{
        width: 30vw;
        height: 30vw;
    }

    
}

@media screen and (max-width: 500px){
    #submitButton{
        width: 8vw;
    }
    
    .about-content-image,
    .content-image{
        width: 40vw;
        height: 40vw;
    }
    
    .nav-left-margin {
        margin-left: 3vw;
    }

    .nav-right-margin{
        margin-right: 3vw ;
    }
}

